.react-resizable-handle {
  position: relative;
  top: 5px;
  display: block;
  background-color: #8ae66e;
  background-repeat: no-repeat;
  background-position: 50%;
}

.resize-horizontal {
  display: flex;
  flex-direction: row;
}

.react-resizable-handle-s {
  left: 10px;
  height: 5px;
  width: calc(80% - 25px);
  cursor: row-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

.react-resizable-handle-e {
  width: 5px;
  top: 0px;
  min-width: 5px;
  height: calc(100%);
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}
