.editor-wrapper {
  position: relative;
  height: 100%;
}

.editor-wrapper .button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-wrapper .button-alt {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-wrapper:hover button {
  opacity: 1;
}
